<h1><%= @flight.number %></h1>

    <h2>Flight Number: <%= @flight.number %></h2>
    <p>Date: <%= @flight.date %></p>
    <p>Time: <%= @flight.time %></p>
    <p>Departure City: <%= @flight.departure_city %></p>
    <p>Arrival City: <%= @flight.arrival_city %></p>
    <p>Airline: <%= @flight.airline.name %></p>

    <section id="passenger_manifest">
      <<h2>Passenger Manifest</h2>
      <% @flight.passengers.each do |passenger| %>
        <%= passenger.name %><br>
      <% end %>
    </section>
    <section id="passenger_statistics">
      <h2>Passenger Statistics</h2>
      <h4>Adults: <%= @flight.passenger_count %></h4>
      <h4>Minors: <%= @flight.passenger_count(false) %></h4>
    </section>
