<h1><%= @flight.number %></h1>

    <h2>Flight Number: <%= @flight.number %></h2>
    <p>Date: <%= @flight.date %></p>
    <p>Time: <%= @flight.time %></p>
    <p>Departure City: <%= @flight.departure_city %></p>
    <p>Arrival City: <%= @flight.arrival_city %></p>
    <p>Airline: <%= @flight.airline.name %></p>

    <section id="passenger_manifest">
      <% @flight.passengers.each do |passenger| %>
        <%= passenger.name %>
      <% end %>
    </section>
