<h1><%= @airline.name %></h1>

<% @airline.flights.each do |flight| %>
  <section id = "flight-<%=flight.id%>">
    <h2>Flight Number: <%= flight.number %></h2>
    <p>Date: <%= flight.date %></p>
    <p>Time: <%= flight.time %></p>
    <p>Departure City: <%= flight.departure_city %></p>
    <p>Arrival City: <%= flight.arrival_city %></p>
  </section>
<% end %>
